
:root {
  --dark-theme-background-color: #141c2f;
  --light-theme-background-color: rgba(211, 211, 211, 0.753);
  --dark-theme-text-color: #e7eef8;
  --light-theme-text-color: black;
  --dark-theme-input-color: #1f2a48;
  --light-theme-input-color: whitesmoke;
  --search-color: #0079fe;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  margin: 0;
  min-height: 100vh;
  place-items: center;
  align-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

header p {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header .logo {
  display:flex;
  justify-content: left;
  align-items: center;
}

header .logo i {
  padding-right: 10px;
}

.logo p {
  margin: 0;
}


header button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 8px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

.search-bar button {
  background-color: var(--search-color);
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--dark-theme-text-color)
}

.search-bar i {
  color: var(--search-color)
}

.search-bar button:hover {
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 8px;
  width: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
  font-size: 10px;
}

.user-info .img {
  display:flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.first-section {
  padding-top: 10px;
  padding-bottom: 5px;
}

.first-section span {
  display: block;
}

.bio {
  margin-bottom: 8px;
}

.user-login {
  color: var(--search-color)
}

.second-section {
  border-radius: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.second-section span {
  display: block;
}

.third-section {
  padding-top: 10px;
  padding-bottom: 10px;
}


.third-section div {
  text-align: left;
}

.third-section i {
  width: 20px;
  padding-right: 10px;
}

.d-none {
  height: 8px;
}

.no-data {
  opacity: 0.5;
}


.dark {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-text-color)
}

.light {
  background-color: var(--light-theme-background-color);
  color: var(--light-theme-text-color)
}

.dark .search-bar {
  background-color: var(--dark-theme-input-color);
}

.light .search-bar {
  background-color: var(--light-theme-input-color);
}

.dark .search-bar input {
  color: var(--dark-theme-text-color);
}

.light .search-bar input {
  color: var(--light-theme-text-color);
}

.dark .search-bar input::placeholder {
  color: var(--dark-theme-text-color);
  opacity: 0.5;
}

.light .search-bar input::placeholder {
  color: var(--light-theme-text-color);
  opacity: 0.5;
}

.dark .user-info {
  background-color: var(--dark-theme-input-color);
}

.light .user-info {
  background-color: var(--light-theme-input-color);
}

.dark .second-section {
  background-color: var(--dark-theme-background-color);
}

.light .second-section {
  background-color: var(--light-theme-background-color);
}
