
:root {
  --dark-theme-background-color: #141c2f;
  --light-theme-background-color: rgba(211, 211, 211, 0.753);
  --dark-theme-text-color: #e7eef8;
  --light-theme-text-color: black;
  --dark-theme-input-color: #1f2a48;
  --light-theme-input-color: whitesmoke;
  --search-color: #0079fe;
  --search-color-hover: #0066fe;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  margin: 0;
  min-height: 100vh;
  place-items: center;
  align-content: center;
}

header, .search-bar, .user-info {
  width: 90%;
  max-width: 400px;
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
}

header p {
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header .logo {
  display:flex;
  justify-content: left;
  align-items: center;
}

header .logo i {
  padding-right: 10px;
}

.logo p {
  margin: 0;
}

header button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 10px;
}

.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  outline: none;
  font-size: 12px;
}

.search-bar button {
  background-color: var(--search-color);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--dark-theme-text-color);
  font-size: 12px;
}

.search-bar i {
  color: var(--search-color)
}

.search-bar button:hover {
  background-color: var(--search-color-hover);
}

.user-info {
  border-radius: 12px;
  padding: 15px;
  font-size: 12px;
  display: block;
}

.user-info .img {
  float:left;
  margin: 5px 15px 5px 15px;
}

.img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.user-data {
  display: block;
}
.first-section {
  margin: 10px;
}

.bio {
  margin: 15px 10px 10px 10px;
  padding: 10px;
}

.first-section div {
  margin-bottom: 8px;
}

.first-section span {
  display: block;
}

.user-name {
  font-size: 14px;
}

.user-login {
  color: var(--search-color)
}

.second-section {
  border-radius: 12px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.second-section .col {
  padding: 5px;
}

.third-section {
  margin: 10px;
}

.third-section div {
  padding: 5px;
}
.third-section div {
  text-align: left;
}

.third-section i {
  width: 20px;
  padding-right: 10px;
}

.d-none {
  height: 8px;
}

.no-data {
  opacity: 0.5;
}

.error-div {
  color: red;
}

.error-div i {
  margin-right: 10px;
  color: red;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  header, .search-bar, .user-info {
    width: 450px;
    max-width: 450px;
    margin: 15px;
  }
  .user-info .img {
    float:left;
    margin: 5px 20px 5px 20px;
  }
  .second-section {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .third-section div {
    margin-bottom: 0;
  }
  .search-bar input {
    font-size: 14px;
  }
  .search-bar button {
    font-size: 14px;
  }
  .user-info {
    font-size: 14px;
  }
  .user-name {
    font-size: 18px;
  }
  .user-info .img {
    margin-right: 20px;
  }
  .third-section i {
    width: 30px;
  }
  .second-section .col {
    padding: 10px;
  }
  .third-section div {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (min-width: 992px) {
  header, .search-bar, .user-info {
    width: 600px;
    max-width: 600px;
    margin: 20px;
  }
  .first-section {
    margin-top: 0;
    display:flex;
  }
  .joined {
    text-align: right;
  }
  .third-section {
    margin-bottom: 10px;
  }
  .third-section div {
    margin-bottom: 0;
    padding: 0;
  }
  .user-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1px;
    align-items:flex-start;
  }
  .user-info .img {
    display: flex;
    justify-content: center;
    margin: 5px;
  }
  .img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  .user-info .user-data {
    margin: 5px;
  }
  .bio {
    margin: 10px;
    padding: 0;
  }
  
}

/*theme styles*/

.dark i:not(.search-bar i, .error-div i) {
  color: white;
}

.light i:not(.search-bar i, .error-div i) {
  color: black;
}

.dark {
  background-color: var(--dark-theme-background-color);
  color: var(--dark-theme-text-color)
}

.light {
  background-color: var(--light-theme-background-color);
  color: var(--light-theme-text-color)
}

.dark .search-bar {
  background-color: var(--dark-theme-input-color);
}

.light .search-bar {
  background-color: var(--light-theme-input-color);
}

.dark .search-bar input {
  color: var(--dark-theme-text-color);
}

.light .search-bar input {
  color: var(--light-theme-text-color);
}

.dark .search-bar input::placeholder {
  color: var(--dark-theme-text-color);
  opacity: 0.5;
}

.light .search-bar input::placeholder {
  color: var(--light-theme-text-color);
  opacity: 0.5;
}

.dark .user-info {
  background-color: var(--dark-theme-input-color);
}

.light .user-info {
  background-color: var(--light-theme-input-color);
}

.dark .second-section {
  background-color: var(--dark-theme-background-color);
}

.light .second-section {
  background-color: var(--light-theme-background-color);
}
